<div class="u-container">
  <div class="u-bg-light u-margin-top u-margin-bottom">
    <h1 class="h5 u-margin-bottom">Digipolis Location Viewer</h1>
  </div>
  <div class="u-bg-light u-margin-top u-margin-bottom">
    <aui-location-viewer
     [geoApiBaseUrl]=geoApiBaseUrl
     [showLayerManagement]=showLayerManagement
     [supportingLayerOptions]=supportingLayerOptions
     [customOperationalLayerOptions]="customOperationalLayerOptions"
     [filterLayers]="filterLayers"
     (filteredResult)="updateResult($event)">
    </aui-location-viewer>
  </div>
  <button class="a-button" aria-label="Change configuration" (click)="changeSettings()">Change configuration</button>
  <div *ngIf="result">
    <p>Aantal resultaten: {{ result.length }}</p>
    <pre>{{ result.slice(0, 10) | json }}</pre>
  </div>

</div>