<div class="u-container">
  <div class="u-bg-light u-margin-top u-margin-bottom">
    <h1 class="h5 u-margin-bottom">Digipolis Location Viewer</h1>
  </div>
  <div class="u-bg-light u-margin-top u-margin-bottom">
    <aui-location-viewer
    [geoApiBaseUrl]=geoApiBaseUrl
     [showLayerManagement]=showLayerManagement
     [supportingLayerOptions]=supportingLayerOptions
     [operationalLayerOptions]=operationalLayerOptions
     [filterLayerOptions]="filterLayerOptions"
     (filteredResult)="updateResult($event)">
    </aui-location-viewer>
  </div>
  <button (click)="changeSettings()">Test</button>
  <div *ngIf="result">
    <p>Aantal resultaten: {{ result.length }}</p>
    <pre>{{ result.slice(0, 10) | json }}</pre>
  </div>

</div>