<div class="u-container">
  <div class="u-margin-top u-margin-bottom">
    <h1 class="h5 u-margin-bottom">Location Viewer Widget</h1>
  </div>
  <div class="u-bg-light u-margin-top u-margin-bottom">
    <aui-location-viewer
     #locationViewer
     [geoApiBaseUrl]=geoApiBaseUrl
     [showLayerManagement]=showLayerManagement
     [supportingLayerOptions]=supportingLayerOptions
     [operationalLayerOptions]="operationalLayerOptions"
     [filterLayers]="filterLayers"
     [currentPosition]="currentPosition"
     (filteredResult)="updateResult($event)"
     (markerClicked)="onClickOperationalMarker($event)">
     <div controls bottom right>
      <button
        type="button"
        class="a-button a-button--small has-icon"
        [disabled]="locating"
        (click)="handler()"
      >
        <aui-icon name="ai-location-target-1"></aui-icon>
      </button>
     </div>
    </aui-location-viewer>
  </div>
  <button class="a-button" aria-label="Change configuration" (click)="changeSettings()">Change configuration</button>
  <div *ngIf="result">
    <p>Aantal resultaten: {{ result.length }}</p>
    <pre>{{ result.slice(0, 10) | json }}</pre>
  </div>

</div>
